 .u-section-1 {
  background-image: linear-gradient(white, #f70848);
  min-height: 1553px;
}

.u-section-1 .u-image-1 {
  height: 523px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 100%;
}

.u-section-1 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -462px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  width: 767px;
  margin: 46px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 67px auto 0;
  padding: 13px 59px 15px;
}

.u-section-1 .u-image-2 {
  width: 294px;
  height: 294px;
  margin: -307px calc(((100% - 1140px) / 2) + -80px) 0 auto;
}

.u-section-1 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 7px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 7px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 7px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 7px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 7px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  margin-right: 7px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 31px 65px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: -127px auto 0 calc(((100% - 1140px) / 2) + 148px);
  padding: 1px 47px 2px 45px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  margin: -58px calc(((100% - 1140px) / 2) + 187px) 60px auto;
  padding: 1px 32px 2px 31px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1491px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-opacity: 0.35;
    --animation-custom_in-translate_x: 0px;
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 24px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 614px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 19px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -274px;
    margin-right: calc(((100% - 940px) / 2) + -81px);
  }

  .u-section-1 .u-gallery-1 {
    margin-top: -3px;
  }

  .u-section-1 .u-text-3 {
    width: 771px;
    font-size: 1.875rem;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -81px;
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2) + 85px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1451px;
  }

  .u-section-1 .u-image-1 {
    height: 541px;
    object-position: 51.38% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-top: -511px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 175px);
    padding: 14px 17px 14px 16px;
  }

  .u-section-1 .u-image-2 {
    width: 141px;
    height: 141px;
    margin-top: -119px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -91px;
    margin-left: calc(((100% - 720px) / 2) + 35px);
    padding: 0 30px 0 28px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -55px;
    margin-right: calc(((100% - 720px) / 2) + 29px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1540px;
  }

  .u-section-1 .u-image-1 {
    height: 558px;
    margin-top: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -548px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: calc(((100% - 540px) / 2) + 15px);
    margin-left: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-right: calc(((100% - 540px) / 2) + 88px);
  }

  .u-section-1 .u-image-2 {
    width: 121px;
    height: 121px;
    margin-top: -80px;
    margin-right: calc(((100% - 540px) / 2) + -68px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -90px;
    margin-left: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1420px;
  }

  .u-section-1 .u-image-1 {
    height: 502px;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-opacity: 0;
    margin-top: -489px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-size: 1rem;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    align-self: center;
    margin-top: 25px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + 14px);
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 70px;
    height: 70px;
    margin-top: -58px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 38px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -55px;
    margin-left: auto;
    padding-right: 19px;
    padding-left: 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 68px;
    margin-right: auto;
    margin-bottom: 38px;
    padding-left: 17px;
    padding-right: 17px;
  }
}